In [104]:
# импортируем Pandas и Numpy
import pandas as pd
import numpy as np

# загружаем данные из csv
df = pd.read_csv('sf-salaries/Salaries/Salaries.csv', header = 0)

In [96]:
# Первые 5 строк датасета
df.head()

,Id,EmployeeName,JobTitle,BasePay,OvertimePay,OtherPay,Benefits,TotalPay,TotalPayBenefits,Year,Notes,Agency,Status
0,1,NATHANIEL FORD,GENERAL MANAGER-METROPOLITAN TRANSIT AUTHORITY,167411,0,400184,NaN,567595.43,567595.43,2011,NaN,San Francisco,NaN
1,2,GARY JIMENEZ,CAPTAIN III (POLICE DEPARTMENT),155966,245132,137811,NaN,538909.28,538909.28,2011,NaN,San Francisco,NaN
2,3,ALBERT PARDINI,CAPTAIN III (POLICE DEPARTMENT),212739,106088,16452.6,NaN,335279.91,335279.91,2011,NaN,San Francisco,NaN
3,4,CHRISTOPHER CHONG,WIRE ROPE CABLE MAINTENANCE MECHANIC,77916,56120.7,198307,NaN,332343.61,332343.61,2011,NaN,San Francisco,NaN
4,5,PATRICK GARDNER,"DEPUTY CHIEF OF DEPARTMENT,(FIRE DEPARTMENT)",134402,9737,182235,NaN,326373.19,326373.19,2011,NaN,San Francisco,NaN

In [86]:
#  Размер таблицы: 13 колонок и 148654 строк
print(df.shape)

(148654, 13)

In [105]:
# Информация по датасету 
print(df.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 148654 entries, 0 to 148653
Data columns (total 13 columns):
Id                  148654 non-null int64
EmployeeName        148654 non-null object
JobTitle            148654 non-null object
BasePay             148049 non-null object
OvertimePay         148654 non-null object
OtherPay            148654 non-null object
Benefits            112495 non-null object
TotalPay            148654 non-null float64
TotalPayBenefits    148654 non-null float64
Year                148654 non-null int64
Notes               0 non-null float64
Agency              148654 non-null object
Status              38119 non-null object
dtypes: float64(3), int64(2), object(8)
memory usage: 14.7+ MB
None

In [106]:
# В столбцах BasePay и Benefits есть неизвестные значения значения
# заменим их на 0, чтобы привести тип 'object' к типу'float'
df.BasePay.fillna(0.00, inplace = True)
df.Benefits.fillna(0.00, inplace = True)

# заменим пропущенные значения в столбце Agency "Without agency"
df.Agency.fillna("Without agency", inplace = True)

In [107]:
# Информация по датасету 
print(df.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 148654 entries, 0 to 148653
Data columns (total 13 columns):
Id                  148654 non-null int64
EmployeeName        148654 non-null object
JobTitle            148654 non-null object
BasePay             148654 non-null object
OvertimePay         148654 non-null object
OtherPay            148654 non-null object
Benefits            148654 non-null object
TotalPay            148654 non-null float64
TotalPayBenefits    148654 non-null float64
Year                148654 non-null int64
Notes               0 non-null float64
Agency              148654 non-null object
Status              38119 non-null object
dtypes: float64(3), int64(2), object(8)
memory usage: 14.7+ MB
None

In [108]:
# меняем тип на object у столбцов Id, Notes
df['Id'] = df['Id'].astype('object')
df['Notes'] = df['Notes'].astype('object')

In [110]:
# Проверяем
print(df.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 148654 entries, 0 to 148653
Data columns (total 13 columns):
Id                  148654 non-null object
EmployeeName        148654 non-null object
JobTitle            148654 non-null object
BasePay             148654 non-null object
OvertimePay         148654 non-null object
OtherPay            148654 non-null object
Benefits            148654 non-null object
TotalPay            148654 non-null float64
TotalPayBenefits    148654 non-null float64
Year                148654 non-null int64
Notes               0 non-null object
Agency              148654 non-null object
Status              38119 non-null object
dtypes: float64(2), int64(1), object(10)
memory usage: 14.7+ MB
None

In [111]:
#меняем тип у BasePay OvertimePay OtherPay Benefits на float
# сначала все строки со значением 'Not Provided' изменим на 0.00
df[df.BasePay == 'Not Provided'] = 0
df[df.OvertimePay == 'Not Provided'] = 0
df[df.OtherPay == 'Not Provided'] = 0
df[df.Benefits == 'Not Provided'] = 0

df['BasePay'] = df['BasePay'].astype('float')
df['OvertimePay'] = df['OvertimePay'].astype('float')
df['OtherPay'] = df['OtherPay'].astype('float')
df['Benefits'] = df['Benefits'].astype('float')

In [112]:
# Информация по датасету 
print(df.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 148654 entries, 0 to 148653
Data columns (total 13 columns):
Id                  148654 non-null int64
EmployeeName        148654 non-null object
JobTitle            148654 non-null object
BasePay             148654 non-null float64
OvertimePay         148654 non-null float64
OtherPay            148654 non-null float64
Benefits            148654 non-null float64
TotalPay            148654 non-null float64
TotalPayBenefits    148654 non-null float64
Year                148654 non-null int64
Notes               4 non-null object
Agency              148654 non-null object
Status              38123 non-null object
dtypes: float64(6), int64(2), object(5)
memory usage: 14.7+ MB
None

In [113]:
# основные статистические показатели по числовым столбцам
df.describe()

,Id,BasePay,OvertimePay,OtherPay,Benefits,TotalPay,TotalPayBenefits,Year
count,148654.000000,148654.000000,148654.000000,148654.000000,148654.000000,148654.000000,148654.000000,148654.000000
mean,74323.500087,66053.729288,5065.923568,3648.669115,18924.232839,74768.321972,93692.554811,2012.468450
std,42912.857807,42886.711158,11454.256594,8056.515703,17165.279495,50517.005274,62793.533483,10.499104
min,0.000000,-166.010000,-0.010000,-7058.590000,-33.890000,-618.130000,-618.130000,0.000000
25%,37160.250000,32792.545000,0.000000,0.000000,0.000000,36168.995000,44065.650000,2012.000000
50%,74323.500000,64861.600000,0.000000,811.170000,23214.020000,71426.610000,92404.090000,2013.000000
75%,111486.750000,94605.740000,4657.632500,4235.907500,33468.980000,105839.135000,132876.450000,2014.000000
max,148654.000000,319275.010000,245131.880000,400184.250000,96570.660000,567595.430000,567595.430000,2014.000000

In [114]:
# в столбцах BasePay OvertimePay OtherPay Benefits отрицательные значения, удаляем их и смотрим еще раз стат.показатели
df = df.loc[df['BasePay'] >= 0]
df = df.loc[df['OvertimePay'] >= 0]
df = df.loc[df['OtherPay'] >= 0]
df = df.loc[df['Benefits'] >= 0]

In [115]:
# основные статистические показатели по числовым столбцам
df.describe()

,Id,BasePay,OvertimePay,OtherPay,Benefits,TotalPay,TotalPayBenefits,Year
count,148633.000000,148633.000000,148633.000000,148633.000000,148633.000000,148633.000000,148633.000000,148633.000000
mean,74321.229135,66060.984555,5066.614264,3649.159407,18926.122103,74776.758227,93702.880330,2012.468436
std,42914.584450,42883.873386,11454.916998,8056.915870,17165.212525,50514.358835,62790.060508,10.499842
min,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,37155.000000,32819.530000,0.000000,0.000000,0.000000,36178.330000,44097.080000,2012.000000
50%,74324.000000,64867.540000,0.000000,811.800000,23220.670000,71430.240000,92409.150000,2013.000000
75%,111490.000000,94611.000000,4658.810000,4237.030000,33469.400000,105846.070000,132881.790000,2014.000000
max,148650.000000,319275.010000,245131.880000,400184.250000,96570.660000,567595.430000,567595.430000,2014.000000

In [116]:
# кол-во работников по должностям
df['JobTitle'].value_counts()

Transit Operator                           7036
Special Nurse                              4388
Registered Nurse                           3736
Public Svc Aide-Public Works               2518
Custodian                                  2418
                                           ...
CHIEF PLUMBING INSPECTOR                      1
CITY PLANNING GRAPHICS SUPERVISOR             1
PIANIST                                       1
ORTHOPEDIC TECHNICIAN II                      1
PUBLIC SAFETY COMMUNICATIONS TECHNICIAN       1
Name: JobTitle, Length: 2159, dtype: int64

In [117]:
# Создадим фрейм из первых 5 самых популярных профессиях и проведем анализ
df1 = pd.DataFrame()
df1 = df.loc[df['JobTitle'].isin(['Transit Operator', 'Special Nurse', 'Registered Nurse', 'Public Svc Aide-Public Works', 'Police Officer 3'])]

In [118]:
# статистические показатели по 5 самым поп.профессиям
columns_to_show = ['TotalPay', 'TotalPayBenefits']
df1.groupby(['JobTitle'])[columns_to_show].describe()

                             TotalPay                                    \
                                count           mean           std  min
JobTitle
Police Officer 3               2418.0  135074.269185  38130.322689  0.0
Public Svc Aide-Public Works   2518.0    8242.309452   6590.375835  0.0
Registered Nurse               3736.0  115700.594866  36906.502194  0.0
Special Nurse                  4388.0   33167.923699  35564.699810  0.0
Transit Operator               7036.0   64711.146917  30035.249899  0.0

                                                                               \
                                      25%         50%          75%        max
JobTitle
Police Officer 3              127566.4000  137825.485  153914.8250  267902.74
Public Svc Aide-Public Works    2942.8125    7190.360   11344.9100   44772.87
Registered Nurse              103707.8550  124361.240  138302.7675  199600.46
Special Nurse                   6400.4275   19453.195   48365.5300  179203.29
Transit Operator               46693.2725   72654.545   84446.2875  157310.65

                             TotalPayBenefits                               \
                                        count           mean           std
JobTitle
Police Officer 3                       2418.0  167944.733069  46666.528957
Public Svc Aide-Public Works           2518.0    9622.057502   9539.367307
Registered Nurse                       3736.0  151651.429036  47719.538285
Special Nurse                          4388.0   36378.902290  37088.069499
Transit Operator                       7036.0   92066.744450  40965.361887

                                                                           \
                                min          25%         50%          75%
JobTitle
Police Officer 3              33.22  162674.6400  174453.640  190615.2325
Public Svc Aide-Public Works  52.47    3097.8625    7465.165   11781.8125
Registered Nurse               7.24  138068.0350  164730.735  180858.3475
Special Nurse                  4.16    7602.2525   22759.405   54609.7425
Transit Operator               1.91   68599.6900  106136.555  119303.3775


                                    max
JobTitle
Police Officer 3              301749.81
Public Svc Aide-Public Works   66981.05
Registered Nurse              253476.57
Special Nurse                 182019.76
Transit Operator              197206.13

In [119]:
# Как с годами менялись зп этих 5-ти выбранных профессий
df1.pivot_table(['TotalPay', 'TotalPayBenefits'], ['JobTitle', 'Year'], aggfunc='mean')

                                        TotalPay  TotalPayBenefits
JobTitle                     Year
Police Officer 3             2012  129077.159861     159810.206563
                             2013  140794.080415     174577.004578
                             2014  136059.617842     170390.134815
Public Svc Aide-Public Works 2012    7980.988223      10000.115168
                             2013    7321.079348       8139.624889
                             2014    9318.180993      10705.586725
Registered Nurse             2012  109596.727868     148369.160850
                             2013  120677.075581     154976.508010
                             2014  117023.096645     151715.116759
Special Nurse                2012   32743.752824      37288.974939
                             2013   33268.538310      35680.007950
                             2014   33490.350629      36159.035528
Transit Operator             2012   65524.890376      95700.422458
                             2013   67574.008684      94261.816366
                             2014   61318.264522      86718.995478